
.player {
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  background: #7f7f7f;
}

.card {
  margin: 5px;
  width: 115px;
  height: 140px;
  background: #e5d0b3;
  font-size: 12px;
  text-align: center;
}

.button {
  margin: 8px;
}

#healthy-pop1 {
  background-color: #67FFFD;
}
#sick-pop1 {
  background-color: #469615;
}
#dead-pop1 {
  background-color: #ff0707;
}

#healthy-pop2 {
  background-color: #67FFFD;
}
#sick-pop2 {
  background-color: #469615;
}
#dead-pop2 {
  background-color: #ff0707;
}

#healthy-pop3 {
  background-color: #67FFFD;
}
#sick-pop3 {
  background-color: #469615;
}
#dead-pop3 {
  background-color: #ff0707;
}

#healthy-pop4 {
  background-color: #67FFFD;
}
#sick-pop4 {
  background-color: #469615;
}
#dead-pop4 {
  background-color: #ff0707;
}
